<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/admin.css">
</head>
<body>
    <div class="container">
        <h2>Register</h2>
    
        <div class="input-group">
          <input type="text" placeholder="Firstname">
          <input type="text" placeholder="Lastname">
        </div>
    
        <input type="email" placeholder="Email" style="width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #444; border-radius: 4px; background: #383c44; color: white;">
        <input type="password" placeholder="password" style="width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #444; border-radius: 4px; background: #383c44; color: white;">
        <input type="phone" placeholder="phone" style="width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #444; border-radius: 4px; background: #383c44; color: white;">
        <input type="address" placeholder="address" style="width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #444; border-radius: 4px; background: #383c44; color: white;">
        <input type="password" placeholder="password" style="width: 100%; padding: 10px; margin-bottom: 15px; border: 1px solid #444; border-radius: 4px; background: #383c44; color: white;">
       
    
        <button>Register </button>

        
   
      </div>
</body>
</html>