doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/css/index.css')
header
  h1 Little Sprouts Kindergarten
.hero(action="/homepage" method="post")
  h1 Welcome to a World of Learning and Fun!
  p
    | We provide a nurturing environment where your child can grow, learn, and explore.
  a(href='/login') 
    button Login
  br
  br
  a(href='/signingup')
    button Signin

footer
  p &copy; 2024 Little Sprouts Kindergarten. All rights reserved.