<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <body>

        <header>
            <h1>Little Sprouts Kindergarten</h1>
        </header>
    
        <div class="hero">
            <h1>Welcome to a World of Learning and Fun!</h1>
            <p>We provide a nurturing environment where your child can grow, learn, and explore.</p>
            <button a(href='/login')>Login</button><br><br>
            <button a(href='/signingup')>Signin</button>
        </div>
    
        <footer>
            <p>&copy; 2024 Little Sprouts Kindergarten. All rights reserved.</p>
        </footer>
</body>
</html>