//- doctype html
//- head
//-   meta(charset='UTF-8')
//-   meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-   title Login Page
//-   link(rel='stylesheet' href='/css/login.css')
//- .login-container
//-   form#loginForm.login-form(action="/login" method="post")
//-     h2 Login
//-     .input-group
//-       input#firstname(type='firstname' placeholder='firstname' name="fname" required='')
//-     .input-group
//-       input#lastname(type='lastname' placeholder='lastname' name="lname" required='')
//-     .input-group
//-       input#email(type='email' placeholder='Email' name="email" required='')
//-     .input-group
//-       input#password(type='password' placeholder='Password' name="password" required='')
//-     button(type='submit') Login
//-     p#errorMessage.error-message
//- script(src='/public/js/login.js')


doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Login Page
    link(rel='stylesheet' href='/css/login.css')
  body
    .login-container
      form#loginForm.login-form(action="/login" method="post")
        h2 Login
        .input-group
          input#firstname(type='text' placeholder='First Name' name="fname" required='')
        .input-group
          input#lastname(type='text' placeholder='Last Name' name="lname" required='')
        .input-group
          input#email(type='email' placeholder='Email' name="email" required='')
        .input-group
          input#password(type='password' placeholder='Password' name="password" required='')

        .button-group
          button(type='submit') Login
          a.signup-button(href='/signingup') Sign Up

        p#errorMessage.error-message
    script(src='/public/js/login.js')
