doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Logout Form
  link(rel='stylesheet' href='/public/css/logout.css')
.logout-container
  h2 Logout
  p Are you sure you want to log out?
  button#logoutBtn.logout-button Logout
  p#confirmation-message Logged out successfully!