<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Document</title>
  <link rel='stylesheet' href='/css/signup.css'>
</head>
<body>
  <div class="container">
    <h2>SignUp</h2>
    <form id="signup" action='/signingup' method='post'>
      <label for='firstname'>Full name :</label>
      <input id='first' type='text' name='fname' required=''>
      
      <label for='email'>Email  :</label>
      <input id='last' type='text' name='email' required=''>
      
      <label for='registerPassword'>Password:</label>
      <input id='registerPassword' type='password' name='password' required=''>
      
      <label for='confirmPassword'>Confirm Password:</label>
      <input id='confirmPassword' type='password' name='confirmPassword' required=''>
      
      <label for='role'>Role:</label>
      <select id='role' name='role'>
        <br>
        <br>
        <option value='manager'>Manager</option>
        <option value='secretary'>Secretary</option>
      </select>
      <br>
      <br>
      <button type='submit'>Sign Up</button>
    </form>
    <div class="login-link">
      <p>Already have an account?</p>
      <a href="/login"><button type="button">Login</button></a>
    </div>
  </div>
</body>
</html>