body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    background-image: url(/imgs/ju.jpg);
}
.login-container {
    background:  #282c34;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    max-width: 90%;
    padding: 20px 40px 20px 20px;
}
.login-form h2 {
    margin-bottom: 20px;
    color: #61dafb;
}
.input-group {
    margin-bottom: 15px;
}
.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #61dafb;
    border: none;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: bold;
}
button:hover {
    background-color: rgba(66, 160, 227, 0.947);
    color: black;
    font-weight: bold;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

@media (max-width: 480px) {
    .login-container {
        width: 100%;
        max-width: 95%;
        padding: 20px;
    }
    
    .login-form h2 {
        font-size: 1.5em;
    }
    
    .input-group input {
        font-size: 16px;
    }
    
    button {
        font-size: 16px;
        padding: 12px;
    }
}