body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #61dafb;
}

.logout-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    max-width: 90%;
    height: auto;
    min-height: 200px;
}

.logout-button {
    padding: 10px 20px;
    background-color: #dc3545; /* Red color for logout */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #094212;
}

#confirmation-message{
  margin-top: 10px;
  color: green;
  display: none;
}

@media (max-width: 480px) {
    .logout-container {
        width: 100%;
        max-width: 95%;
        padding: 15px;
    }
    
    .logout-container h2 {
        font-size: 1.5em;
    }
    
    .logout-button {
        padding: 12px 20px;
        font-size: 16px;
    }
}