body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    background-image: url(/imgs/ju.jpg);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #282c34;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #61dafb;;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-weight: lighter;
}

input[type="text"],
input[type="password"],
select {
    width: calc(100% - 12px); /* Subtract padding */
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

select {
    height: 34px; /* Adjust height for select */
}

button {
    background-color: #61dafb;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

button:hover {
    background-color: #209fc2;
    font-weight: bold;
    color: black;
}
.login-link {
    color: white;
}